body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
.blue-color{
    color: blueviolet;
}
p{
    font-size: 20px;
    text-align: justify;
}
.first_part{
    display: flex;
    margin-bottom: 100px;
}
.first-half{
    width: 50%;
    padding: 5%;
}
.first-half img{
    width: 80%;
}
.link-button {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}
.first_part{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
.second_part{
    display: flex;
    margin-bottom: 100px;
 }
.second_half{
    width: 50%;
    padding: 5%;
}
.second_half img{
    width: 70%;}

.second_part{
        background-image: url(Image/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
.flaxible{
    display: flex;
}
   
.half-width{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 10px 10px 40px gray;
        border-radius: 12px;
        padding: 3%
    }
.experienc-area{
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
#fswd_01{
    border-left: 10px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-radius: 12px;
    border-image-slice: 1;
}
#fswd_02{
    border-left: 10px solid;
    border-image: linear-gradient(#4b82f0, #4d9f0c) 30;
    border-radius: 12px;
    border-image-slice: 1;}
.third_part{
    padding: 20px;
}