body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.blue-color{
    color: blueviolet;
}
p{
    font-size: 20px;
    text-align: justify;
}
.first_part{
    display: flex;
    margin-bottom: 100px;
}
.first-half{
    width: 50%;
    padding: 5%;
}
.first-half img{
    width: 80%;
}
.link-button {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}
.first_part{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
.second_part{
    display: flex;
    margin-bottom: 100px;
 }
.second_half{
    width: 50%;
    padding: 5%;
}
.second_half img{
    width: 70%;}

    .second_part{
        background-image: url(Image/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .flaxible{display: flex;}
    .half-width{
        width: 50%;
        padding: 5%;
    }
